@font-face {
    font-family: 'Libre Caslon Text';
    font-display: block;
    src: url('fonts/WOFF/librecaslontext-regular.woff2') format('woff2'),
         url('fonts/WOFF/librecaslontext-regular.woff') format('woff');
    src: local('Libre Caslon Text'), url('fonts/WOFF/librecaslontext-regular.woff') format('woff'), url('fonts/WOFF/librecaslontext-regular.woff2') format('woff2') ;
    font-weight: normal;
    font-style: normal;

}

@media only screen and (max-width: 650px) {
	#nav-bar{
		top: 0;
		border: none;	
	}
	#content{
		width: 100% !important;
	}
}

@media only screen and (max-width: 1350px) {
	.sticky{
		margin: -1px 0px 0px 0px;
	}

	#topbar{
		display: none;
	}
}

html, body, main, footer{
	font-size: 0.9em !important;
	font-family: 'Libre Caslon Text', serif;
	margin: 0;
	padding: 0;
	min-width: 100%;
}

html{
	height: 100%;
}

body{
	min-height: 100%;
}

main{
	display: flex;
	justify-content: center;
	min-height: 100vh;
	background-image: url(../images/smoke.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

#content{
	font-size: 1em;
	background-color: white;
	width: 80%;
	white-space: pre-line;
}

#content div{
	width: 100%;
}

#row{
	text-align: center;
}

.first-row{
	margin-top: 10%;
}

#login_form a{
	display: block;
	text-decoration: none;
	color: black;
}

#login_form a:hover{
	color: #5F3B23;
}

#login_form button{
	width: 20%;
	color: white;
	background-color: black;
	border-radius: 15px;
}

.php_login_row{
	color: red;
}

.sign_up_success{
	font-size: 1.15em;
	color: green;
	margin-bottom: 2%;
}